section.header .name {
  font-size: 26px;
}

@media (min-width: 600px) {
  section.header {
    padding-bottom: 0px;
  }

  section.main .container .content .markdown,
  .page-heading {
    margin-top: 30px;
  }
}
